.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary {
}
