.main {
    border: 4px solid;
    border-color: black;
    width: 20%;
    height: 35%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .label {
        position: relative;
        top: 8%;
        left: 5%;
        font-size: x-large;
    }

    .input {
        position: relative;
        top: 30%;
        left: 5%;
        width: 80%;
    }

    
}